@import "_variables";

@mixin flex($display, $justifyContent, $alignItems) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

:root {
  --content-width: 65rem;
}
body {
  margin: 0;
  padding: 0;
}
.header-nav {
  position: fixed;
  left: 2rem;
  top: 2rem;
  color: $headerFontColor;
  font-size: 1.5rem;
  z-index: 999;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  @include flex(flex, space-between, center);
  height: 6.813rem;
  background-color: $commonBackgroundColor;
  z-index: 10;
  margin-bottom: 3vh;
  div {
    margin: 0 6rem;
  }
  span {
    color: $headerFontColor;
    height: 100%;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -3px;
  }
}

.page {
  height: 100vh;
  //   background-color: yellow;
  //   overflow: hidden;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 5vh 5vw 10vh;
}

main {
  max-width: var(--content-width);
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .head-line {
    max-width: var(--content-width);
    bottom: 2rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 600;
    position: absolute;
  }
  .allow-button {
    position: absolute;
    bottom: 30px;
    right: 60px;
    font-size: 2rem;
  }

  .intro {
    max-width: var(--content-width);
    height: 100vh;
    position: relative;
    .hero-image {
      margin-top: 6rem;
      img {
        width: auto;
        height: 70vh;
      }
    }
  }

  @media (max-width: 600px) {
    .hero-image {
      margin-top: -3em;
    }
  }

  @media (max-width: 800px) {
    .hero-image img {
      height: auto !important;
      width: 89vw !important;
    }
  }

  .home-about-text {
    max-width: var(--content-width);
    // margin-top: 0.5rem;
    margin-bottom: 10rem;

    p {
      text-indent: 8em;
      font-size: 2rem;
      color: rgba(33, 31, 31, 1);
      letter-spacing: -0.5px;
      line-height: 1.5em;
      margin-bottom: 1.5em;
    }
  }
  .text {
    line-height: 1.5em;
  }
}

@media screen and (max-width: 700px) {
  p,
  ul,
  li,
  .secondary-title,
  p:before {
    font-size: 16px !important;
    line-height: 22px !important;
  }
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 20px;
  img {
    width: 100%;
  }
}
.hr-top {
  border-top: 1px solid #dadada;
}
.flex-2-row {
  flex: 1;
}
.pad-left-2 {
  padding-left: 2em;
}

p,
ul {
  font-size: 2rem;
  font-weight: 100;
}

.round-button {
  border: 1px solid #dadada;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  margin: 5px 5px 0 0;
  min-width: 144px;
  text-align: center;
  transition: all 0.2s ease-in;
}
a {
  color: currentColor;
  text-decoration: none;
}
a {
  -webkit-font-smoothing: antialiased;
}
